/config/gems/*
!/config/gems/.keep
/config/bundle/*
!/config/bundle/.keep
/config/bash/.bashhistory
/config/postgres-data
volume/auth-provider/coverage/.resultset.json
volume/auth-provider/coverage/index.html
volume/tasks-manager-client/build
volume/tasks-manager-client/node_modules
