<div class="login__container">
  <mat-form-field appearance="fill">
    <mat-label>username:</mat-label>
    <input matInput [(ngModel)]="username" class="login__input-username" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>password:</mat-label>
    <input matInput [(ngModel)]="password" class="login__input-password" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="login()"
    class="login__button-login"
  >
    Log in
  </button>
</div>
