.task-item-create__button ::ng-deep {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.task-item-create__button ::ng-deep .mat-button-wrapper {
  padding: 0;
}
.task-item-create__icon {
  font-size: 5;
  padding: 0;
}
