.task-item-show__button_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.task-item-show__button {
  display: flex;
}
.mat-card-actions,
.mat-card-subtitle,
::ng-deep.mat-card-content {
  display: block;
  margin-bottom: 0px;
}
